body {
    background-image:url('underconstruction/Logo_Animation_Kolaps_underconstruction.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
}
